/* global */
*,
::after,
::before {
  box-sizing: border-box;
}
body,html{
  padding: 0px;
  margin: 0px;
  background-color: #efefef;
}
ul{
  list-style: none;
  padding: 0;
  margin: 0 20px;
}
button{
  cursor: pointer;
}
#app {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
form > input, form > select {
  display: block;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}
a, button, input[type=submit]{
  cursor: pointer!important;
}

/* layouts */
.container{
  margin: 0 45px;
}
.border{
  border: 1.7px solid #61428f;
}
.shadow{
  box-shadow: 0px 1px 2px 0px rgba(60,64,67,.3),0px 1px 3px 1px rgba(60,64,67,.15);
}
.subnav {
	color: #fff;
  background-color: #7952b3;    
  padding-top: 10px;
  padding-bottom: 10px;
}
.subnav h2 {
  font-size: x-large;
  text-transform: uppercase;
  margin-top: 0px;
  margin-right: 15px;
  margin-bottom: 0rem;
  text-shadow: 1px 2px #5e3b93;
}
.subnav button {
  display: block;
}
.card{
  margin-top: 20px 
}
.capitalize {
  text-transform: capitalize;
}
.uppercase{
  text-transform: uppercase;
}
.text-samll{
  font-size: 14px;
}


/* navs */
#navbar {
  background-color: #efefef;
}
#navbar .nav-content a:hover{
  background-color: #dbdbdb;
}
#navbar a {
  font-weight: bold;
  font-size: 17px;
  color: #2c3e50;
  text-decoration: none;
  text-transform: uppercase;
  padding: 20px 12px 20px 12px;
}
#navbar .router-link-exact-active {
  color: #61428f;
  background-color: #dbdbdb
}
.nav-content{
  display: flex;
  a-webkit-align-items: center;
  align-items: center;
}
.ml-auto {
  margin-left: auto !important;
}

/* drowpdown */
.dropdown-button {
  margin: 0;
  padding: 0;
  color: gray;
  cursor: pointer;
  border: 1px solid transparent;
  background-color: transparent;
}
.dropdown-button:focus {
  outline: 0;
}
.dropdown-icon {
  width: 1.65rem;
  height: 1.65rem;
}
.dropdown-menu {
  overflow-x: hidden;
  overflow-y: hidden;
  right: 30px;
  position: absolute;
  min-width: 250px;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}
.dropdown-menu > ul {
  margin: 0;
  padding: 0; 
}
.dropdown-menu-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 10px!important;
  border-radius: 10px;
  margin: 0.3rem;
}
.dropdown-menu-img {
  width: 45px;
  border-radius: 50%;
}
.dropdown-menu-text {
  font-weight: 300;
  margin-left: 1rem;
  margin-right: 1rem;
}

/* dropdown animation */
.dropdown-enter-active,
.dropdown-leave-active {
  transition: all 0.3s;
}
.dropdown-enter,
.dropdown-leave-to {
  opacity: 0;
  transform: translateY(30px);
}


/* lists */
.list a {
  text-decoration: none;
  cursor: pointer;
  color: #2c3e50;
}
.list a:hover, .list a:focus-within  {
  color: #873bff;
}
.list li {
  padding: 10px;
  border: 1px solid #efefef;
  border-color: #efefef;
  border-radius: 5px;
}
.list li:hover, .list li:focus, .list li:active, .list li:focus-within {
  border: 1px solid #dbdbdb;
  background-color: #dbdbdb;
}
.subnav p, .list p{
  margin: 0;
}
p.item-list {
  font-size: 18px;
  font-weight: 500;
}


/* alerts */
.alert {
  position: relative;
  background-color: #fff3cd;
  color: #856404;
  border-color: #ffeeba;
  text-align: margin-left;
  padding-top: 13px;
  padding-bottom: 13px;
  font-family: initial;
}
.alert-close:hover{
  color: #3f3c33;
}
.alert-close{
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 28px;
  padding: .75rem 1.25rem;
  color: inherit;
  float: right;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1;
  color: #856404;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
}


/* btn */
.btn-primary{
  color: #61428f;
}
.btn-danger{
  color: #dc3545;
}
.btn-primary{
  color: #0069d9;
}
.btn-success{
  color: #218838;
}
.btn-warning{
  color: #d39e00;
}



/* responsive */
@media (max-width: 568px) {
  .alert-close{
    right: 0px!important;
  }
  .container{
    margin: 0 10px;
  }
  .dropdown-menu{
    right: 10px;
  }
  .subnav > .nav-content {
    display: block;
  }
  p.item-list {
    font-size: 16px;
    font-weight: 500;
  }
  .subnav h2 {
    font-size: large;
  }.
  .text-samll{
    font-size: 13px;
  }
}
